<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="static/css/estilos.css"/>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/cambiarPestanna.js"></script>
        
        <title></title>
    </head>
    <body onload="javascript:cambiarPestanna(pestanas,pestana1);">
      <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <div class="contenedor">
            <div class="titulo"><img src="static/img/lanubiajpeg.jpeg" width="300" height="50"><a class="boton_personalizado" href="https://www.google.com">CERRAR SESION</a></div>
            <div id="pestanas">
                <ul id=lista>
                    <li id="pestana1"><a href='javascript:cambiarPestanna(pestanas,pestana1);'>USUARIO</a></li>
                    <li id="pestana2"><a href='javascript:cambiarPestanna(pestanas,pestana2);'>PILOTO</a></li>
                    <li id="pestana3"><a href='javascript:cambiarPestanna(pestanas,pestana3);'>VUELOS</a></li>
                   

            </div>
            
            
       
            <div id="contenidopestanas">
                <div id="cpestana1">
                    <select class="cajas">
                        <option disabled="">Selecciona el usuario</option>
                        <option value="Nancy Castellanos Torres">Nancy Castellanos Torres</option>
                        <option value="Fabian Beltran Bustos">Fabian Beltran Busto</option>
                        <option value="Heygler Garcia Castro">Heygler Garcia Castro</option>
                        <option value="Yezid Martinez Gomez">Yezid Martinez Gomez</option>
                    </select> 
                    



                    <form>
                        
                        <input class="cajas" type="text" id="nombre" name="nombre" placeholder="Nombre"/><br><br>

                        <input class="cajas" type="text" id="apellido" name="apellido" placeholder="Apellidos"/><br><br> 

                        <input class="cajas" type="text" id="cedula" name="cedula" placeholder="Cedula"/><br><br> 

                        <input class="cajas" type="text" id="edad" name="edad" placeholder="Edad"/><br><br> 

                        <input class="cajas" type="text" id="correo" name="correo" placeholder="Correo"/><br><br>

                        <input class="cajas" type="text" id="telefono" name="telefono" placeholder="Telefono" /><br><br> 

                        <input class="cajas" type="text" id="direccion" name="direccion" placeholder="Direccion"/><br><br> 
                           
                    
                    </form>


                    <select class="cajas">
                        <option disabled="">Vuelos reservados</option>
                        <option value="Santa Marta">Santa Marta</option>
                        <option value="Bogota">Bogota</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Pereira">Pereira</option>
                    </select> 
                    <br><br><br><br><br><br><br><br>
                    <a class="boton_personalizado" href="https://www.google.com">EDITAR</a>
                    
                   
                </div>
                <div id="cpestana2">
                    
                    <select class="cajas">
                        <option disabled="">Selecciona el piloto</option>
                        <option value="Nancy Castellanos Torres">Nancy Castellanos Torres</option>
                        <option value="Fabian Beltran Bustos">Fabian Beltran Busto</option>
                        <option value="Heygler Garcia Castro">Heygler Garcia Castro</option>
                        <option value="Yezid Martinez Gomez">Yezid Martinez Gomez</option>
                    </select> 
                    



                    <form>
                        <input class="cajas" type="text" id="nombre" name="nombre" placeholder="Nombre"/><br><br>

                        <input class="cajas" type="text" id="apellido" name="apellido" placeholder="Apellidos"/><br><br> 

                        <input class="cajas" type="text" id="cedula" name="cedula" placeholder="Cedula"/><br><br> 

                        <input class="cajas" type="text" id="edad" name="edad" placeholder="Edad"/><br><br> 

                        <input class="cajas" type="text" id="correo" name="correo" placeholder="Correo"/><br><br>

                        <input class="cajas" type="text" id="telefono" name="telefono" placeholder="Telefono" /><br><br> 

                        <input class="cajas" type="text" id="direccion" name="direccion" placeholder="Direccion"/><br><br> 

                        <input class="cajas" type="text" id="origen" name="origen" placeholder="Origen"/><br><br> 

                        <input class="cajas" type="text" id="destino" name="destino" placeholder="Destino"/><br><br> 

                        <input class="cajas" type="text" id="hora" name="hora" placeholder="Hora"/><br><br> 

                        <input class="cajas" type="text" id="avion" name="avion" placeholder="Avion"/><br><br> 
                           
                    
                    </form>

                    <select class="cajas">
                        <option disabled="">Seleccione el vuelo</option>
                        <option value="Santa Marta">Santa Marta</option>
                        <option value="Bogota">Bogota</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Pereira">Pereira</option>
                    </select> 
                    <br><br><br><br><br><br><br><br>
                    <a class="boton_personalizado" href="https://www.google.com">EDITAR</a>
                </div>


                <div id="cpestana3">
                    <select class="cajas">
                        <option disabled="">Seleccionar ciudad de origen</option>
                        <option value="Santa Marta">Santa Marta</option>
                        <option value="Bogota">Bogota</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Pereira">Pereira</option>
                    </select>   

                    <select class="cajas">
                        <option disabled="">Seleccionar ciudad destino</option>
                        <option value="Santa Marta">Santa Marta</option>
                        <option value="Bogota">Bogota</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Pereira">Pereira</option>
                    </select>   

                    <select class="cajas">
                        <option disabled="">Seleccionar Avion</option>
                        <option value="Santa Marta">Airbus A330</option>
                        <option value="Bogota">Airbus A321</option>
                        <option value="Medellin">Airbus A320</option>
                        <option value="Pereira">Airbus A319</option>
                    </select> 
                    <br><br><br><br><br><br>

                    <select class="cajas">
                        <option disabled="">Selecciona el piloto</option>
                        <option value="Nancy Castellanos Torres">Nancy Castellanos Torres</option>
                        <option value="Fabian Beltran Bustos">Fabian Beltran Busto</option>
                        <option value="Heygler Garcia Castro">Heygler Garcia Castro</option>
                        <option value="Yezid Martinez Gomez">Yezid Martinez Gomez</option>
                    </select> 

                    <select class="cajas">
                        <option disabled="">Selecciona la hora</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                    </select> 

                    <input class="cajas" type="text" id="cupos" name="cupos" placeholder="Asignar cupos"/><br><br> 

                    <br><br><br><br><br><br><br><br>
                    <a class="boton_personalizado" href="https://www.google.com">EDITAR</a>
                    <a class="boton_personalizado" href="https://www.google.com">ELIMINAR</a>

                    


                    
                                           
                </div>  
            </div>
        </div>
    </body>
</html>


