<html>
    <head>
        <title>Iniciar Sesion {{tipo}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/micss.css')}}" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/miocss.css')}}" >
        <script src="{{ url_for('static', filename='js/site.js') }}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>  
        <a href="{{ url_for('main.index') }}" method="GET">
            <img src="{{ url_for('static', filename='img/Logo.jpeg')}}" alt="0" width="320" height="100" >
        </a>
        <div class="rectangulo2"></div>

        <div>
            <img class="fondo" src="{{ url_for('static', filename='img/Fondo.jpeg')}}" alt="fondo de avion">
        </div>

        <p>
            <div class="formulario"></div>
            <div class="rectangulo3"><p align="center">INICIAR SESIÓN</p></div>
        </p>

        <form action= {{ url_for("main.dashboard", tipo=tipo) }} method="GET" class='form' >
            {{ form.hidden_tag() }}

            <div class="fuente">
                <p>
                    {{ form.correo.label(class_='label') }}
                    {{ form.correo(size=30, class_='text-input') }}
                </p>

                <p>
                    <div class="input-group">
                        {{ form.contraseña.label(class_='label') }}
                        <div onfocusout="validarcontraseña()">{{ form.contraseña(class_='text-input') }}</div>
                        <div class="input-group-append">
                            <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarClave();" >
                                <i id="icono" name="icono" class="fa fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                </p>

                <p>{{ form.iniciarsesion(class_='button') }}</p>
                
                <p>
                    <div >
                        <a href="{{ url_for('main.restaurar_contraseña') }}" class="fuente2">Olvidaste tu contraseña</a>                         
                        {% if tipo == "Piloto" %}
                            <a align="left" class="fuente2" onclick="alertaPiloto();">Crear Cuenta</p> 
                        {% else %}
                            <a href="{{ url_for('main.registro') }}" align="left" class="fuente2">Crear Cuenta</p> 
                        {% endif %}
                    </div>  
                </p>                     
            </div>
        </form>        

    </body>
</html>