<html>
    <head>
        <title>Iniciar Sesion</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/micss.css')}}" >
    </head>

    <body>  
        <img src="{{ url_for('static', filename='img/Logo.jpeg')}}" alt="0" width="320" height="100" >
        <div class="rectangulo2"></div>

        <div>
           
            <img class="fondo" src="{{ url_for('static', filename='img/Fondo.jpeg')}}" alt="fondo de avion">
            
        </div>

        <p>
            <div class="formulario"></div>

            <div class="rectangulo3">
            <p align="center">INICIAR SESIÓN</p>
            </div>
            
        </p>

        <form>

            <div class="fuente">
                <p>
                    <p>E-mail:</p>             
                    <input type="text" size="60" id = "mail" name="mail">
                </p>

                <p>
                    <p>Contraseña:</p> 
                    <input type="text" size="60" id = "password" name="password">
                    
                </p>
                <p class="fuente2">Olvidaste tu contraseña</p>
            
                <div class="button">
                    <p>
                    <input type="submit" value="Enviar" style="width:100px; height: 30px;">               
                    </p>
                    <p align="left" class="fuente2">Crear Cuenta</p> 
                </div>  
            
            </div>
            <img src="{{ url_for('static', filename='img/ojo.png')}}" class="userIcon">
            
        </form>        
   
    </body>

</html>