<html>

    <head>
        <title>Aeropuerto La Nubia
            
        </title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/micss.css')}}" >
        
    </head>

    <body>

        <img src="{{ url_for('static', filename='img/Logo.jpeg')}}" alt="0" width="320" height="100" >
        
        <div class="rectangulo"></div>
        
        <p class="avion">
           
            <img src="{{ url_for('static', filename='img/Avion2.jfif')}}" alt="imagen avion" width="1000" height="510"></div>
            
        </p>

        <div class="piloto"> 
            <img class="circular--square" src="{{ url_for('static', filename='img/piloto.jpg')}}" alt="Pilotos">
            <p align="center">PILOTOS</p>
        </div>         

        </div> 

        <div class="cliente">
            <img class="circular--square" src="{{ url_for('static',filename='img/cliente.jfif')}}" alt="clientes">
            <p align="center">CLIENTES</p>
        </div> 
       
        <div class="administrador">
            <img class="circular--square" src="{{ url_for('static',filename='img/corporativo.jpg')}}" alt="COORPORATIVO">
            <p align="center">COORPORATIVO</p>
        </div>        

    </body>

</html>