<html>

    <head>
        <title>Inicio de Sesion
            
        </title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/micss.css')}}" >

    </head>

    <body>

        <img src="{{ url_for('static', filename='img/Logo.jpeg')}}" alt="0" width="320" height="100" >
        <div class="rectangulo2"></div>

        <div>
            <p align="center" class="titulo">Crear Cuenta</p> 
            <p class="subtitulo">Si ya eres socio no necesitas crear una cuenta nueva. 
            Inica Sesion con tus datos de siempre.</p> 
            <p align="center" class="titulo2">Datos Personales</p> 
            <p class="subtitulo">Ingresa tus datos tal como aparecen en tu documento de identidad. 
                Los usaremos cuando compres tus pasajes.</p>                     
        </div>

        <form action="" method="POST">
            <div class="fuente">
                <p>
                    <p>Numero de Identificacion:</p>               
                    <input type="text" size="60" id = "Identificación" name="Identificación">
                </p>

                <p>
                    <p>Nombres:</p> 
                    <input type="text" size="60" id = "nombre" name="nombre">
                </p>

                <p>
                    <p>Apellidos:</p> 
                    <input type="text" size="60" id = "Apellidos" name="Apellidos">
                </p>

                <p>
                    <p>Fecha de Nancimiento:</p>
                    <label for="start"></label>
                    <input type="date" id="start" name="trip-start" value="2018-07-22" min="1900-01-01" max="3000-12-31">
                </p>

                <p >
                    Genero: <input type="radio" name="Genero" value="M" /> Masculino
                    <input type="radio" name="Genero" value="F" /> Femenino
                    <input type="radio" name="Genero" value="O" /> Otro
                </p>
 
                <p>
                    <p>Telefono:</p> 
                    <input type="text" size="60" id = "telefono" name="telefono">
                    <p class="titulo2">Datos de Acceso a la cuenta</p>       
                </p>  
                
                <p>
                    <p>Correo:</p>  
                    <input type="text" name="correo" size="60"/>
                </p>

                <p>
                    <p>Contrasena:</p> 
                    <input type="text" size="60" id = "password" name="password">
                    
                </p>

                <p class="subtitulo2">Tu contraseña necesita tener mínimo 8 caracteres, 
                    debe contener mínimo 1 mayúscula, 1 minúscula, 1 numero, y 1 carácter especial.</p>

                <p>
                    <input type="checkbox" name="condiciones"> Acepto los términos y condiciones del Aeropuerto 
                    La Nubia, y autorizo el tratamiento de mis datos personales de acuerdo a la Política de Privacidad 
                </p>

                <div class="button">
                    <p>
                        <input type="submit" value="REGISTRAR" style="width:100px; height: 30px;">               
                    </p>
                </div>

            </div><img src="{{ url_for('static', filename='img/ojo.png')}}" class="Icon"></div> 
        </form>
    </body>
</html>