<html>
    <head>
        <title>Registro</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/micss.css')}}" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/miocss.css')}}" >
        <script src="{{ url_for('static', filename='js/site.js') }}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    </head>

    <body>
        <a href="{{ url_for('main.index') }}" method="GET">
            <img src="{{ url_for('static', filename='img/Logo.jpeg') }}" alt="0" width="320" height="100" >
        </a>
        <div class="rectangulo2"></div>

        <div>
            <p align="center" class="titulo">Crear Cuenta</p> 
            <p class="subtitulo">Si ya eres socio no necesitas crear una cuenta nueva. 
            Inica Sesion con tus datos de siempre.</p> 
            <p align="center" class="titulo2">Datos Personales</p> 
            <p class="subtitulo">Ingresa tus datos tal como aparecen en tu documento de identidad. 
                Los usaremos cuando compres tus pasajes.</p>                     
        </div>

        <form action= {{ url_for("main.index") }} method="POST" class='form' >
            {{ form.hidden_tag() }}
            <div class="publicacion">
                <p>
                    <div>
                        {{ form.identificacion.label(class_='label') }}
                        {{ form.identificacion(size=30, class_='text-input') }}
                    </div>
                </p>

                <p>
                    {{ form.nombre.label(class_='label') }}
                    {{ form.nombre(size=30, class_='text-input') }}
                </p>

                <p>
                    {{ form.apellidos.label(class_='label') }}
                    {{ form.apellidos(size=30, class_='text-input') }}
                </p>

                <p>
                    <div class='input-group date' id='datetimepicker1'>
                        {{ form.fechaNacimiento.label(class_='label') }}  
                        {{ form.fechaNacimiento(class_='text-input') }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </p>

                <p>{{ form.genero.label() }}</p>
                <p>
                    {% for subfield in form.genero %}
                    <tr>
                        {{ subfield }}
                        {{ subfield.label }}
                    </tr>
                    {% endfor %}
                </p>
 
                <p>
                    {{ form.telefono.label(class_='label') }}
                    {{ form.telefono(size=30, class_='text-input') }}
                </p>  
                
                <p>
                    {{ form.correo.label(class_='label') }}
                    {{ form.correo(size=30, class_='text-input') }}
                </p>

                <p>
                    <div onfocusout="validarcontraseña()">
                        {{ form.contraseña.label(class_='label') }}
                        {{ form.contraseña(size=30, class_='text-input') }}
                        <div class="input-group-append">
                            <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarClave();" >
                                <i id="icono" name="icono" class="fa fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                </p>

                <p class="subtitulo2">Tu contraseña necesita tener mínimo 8 caracteres, 
                    debe contener mínimo 1 mayúscula, 1 minúscula, 1 numero, y 1 carácter especial.</p>

                <p>
                    {{ form.condiciones() }}
                    Acepto los términos y condiciones del Aeropuerto 
                    La Nubia, y autorizo el tratamiento de mis datos personales de acuerdo a la Política de Privacidad 
                </p>

                <p>
                    {{ form.registrar(class_='button') }}
                </p>
            </div> 
        </form>
    </body>
</html>