<html>

    <head>
        <title>Restablecer Contraseña
            
        </title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/micss.css')}}" >

    </head>

    <body>
        
        <img src="{{ url_for('static', filename='img/Logo.jpeg')}}" alt="0" width="320" height="100" >
        <div class="rectangulo2"></div>

        <div>
           
            <img class="fondo" src="{{ url_for('static', filename='img/Fondo.jpeg')}}" alt="fondo de avion">
            
        </div>

        <div>
            <div class="formulario"></div>            
            <p align="center" class="titulo">Restablece tu Contraseña</p> 
            <p class="subtitulo"></p>
            <p class="subtitulo">Ingresa solo uno de estos datos de identificación para recuperar tu acceso:</p> 
            <ul class="subtitulo" style="list-style-type: square">
                <li>E-mail registrado</li>
                <li>Número de Identificación</li>
            </ul>
        
        <form>
            <div class="fuente">
                <p>
                    <p>Dato de Identificación:</p>               
                    <input type="text" size="60" id = "mail" name="mail">
                </p>
                <p>
                    <p>Contraseña Nueva:</p> 
                    <input type="text" size="60" id = "passwordnew" name="passwordnew">
                    
                </p>
                
                <p>
                    <p>Confirmar Contraseña:</p> 
                    <input type="text" size="60" id = "passwordnew" name="passwordnew">
                </p>

                <p class="subtitulo2">Tu contraseña necesita tener mínimo 8 caracteres, 
                    debe contener mínimo 1 mayúscula, 1 minúscula, 1 numero, y 1 carácter especial.</p>
                
                    <div class="button">
                        <p>
                        <input type="submit" value="ENVIAR" style="width:100px; height: 30px;">               
                        </p>
                    </div>  
                </div>
                <img src="{{ url_for('static', filename='img/ojo.png')}}" class="userIcon">
        

            </div>
        </form>
   
    </body>

</html>